<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.example" level="INFO"/>

    <property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />

    <!-- Appender to log to console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${ENCODER_PATTERN}</Pattern>
        </encoder>
    </appender>
    ​
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>